<h1 class="visually-hidden">ANSWER</h1>
<div class="bg-light vh-100 p-8 d-flex flex-column" style="max-width: 296px">
  <a href="#">
    <img src="./../assets/images/logo-ANSWER.svg" alt="" />
  </a>
  <ul class="nav flex-column mb-auto mt-5">
    <li class="nav-item">
      <a href="#" class="nav-link px-0 py-3">
        <span class="material-symbols-rounded align-bottom me-4">
          insert_chart </span
        >Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-0 py-3">
        <span class="material-symbols-outlined align-bottom me-4"> forum </span
        >Question
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-success px-0 py-3">
        <span class="material-symbols-outlined align-bottom me-4">
          assignment </span
        >Assignment
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-0 py-3">
        <span class="material-symbols-outlined align-bottom me-4">
          video_library </span
        >Course
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-0 py-3">
        <span class="material-symbols-outlined align-bottom me-4"> group </span
        >Admin
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-0 py-3">
        <span class="material-symbols-outlined align-bottom me-4">
          settings </span
        >Settings
      </a>
    </li>
  </ul>
  <div class="d-flex">
    <img
      src="./../assets/images/andychen.jpeg"
      width="40px"
      height="40px"
      alt=""
      class="me-4 rounded-circle avatar-img"
    />
    <div class="d-flex flex-column">
      <span>Andy Chen</span><small class="text-muted">andy0401@mail.com</small>
    </div>
  </div>
</div>
