@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.ck-editor__editable[role='textbox'] {
  /* editing area */
  min-height: 200px;
}

.wrapper {
  max-width: 920px;
  margin: 0 auto;
}

.list-group {
  min-width: 320px;
}

.card {
  min-width: 584px;
}

.avatar-img {
  object-fit: cover;
}

.functionalIcon {
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.card-font {
  font-size: 14px;
  line-height: 21px;
}

.text-Bold {
  font-weight: 700;
}

ul {
  list-style: none;
}
